<div class="container">
    <%= form_for :scene do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "Fill Me Out" %>
        <%= f.label :description %>
        <%= f.text_field :description, placeholder: "Fill Me Out" %>
        <%= f.submit "Add Scene" %>
    <% end %>
</div>
