<h3><%= @scene.name %></h3>
<p><%= @scene.description %></p>
<div class="container">
    <div class="card">
        <%= @scene.comment.each do |i| %>
            <h4><%= i.title %></h4>
            <p><%= i.content.truncate(27, separator: ' ') %></p>
            <small><%= i.member.username %></small>
        <% end %>
    </div>
</div>