<h3>Title: <%= @scene.name %></h3>
<p>Description: <%= @scene.description %></p>
<div class="container">
    <div class="card">
        <%= @scene.posts.each do |i| %>
            <h4><%= i.title %></h4>
            <p><%= i.content.truncate(27, separator: ' ') %> content</p>
            <small><%= i.member.username %> username</small>
        <% end if @scene.posts%>
    </div>
</div>