<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class=" nav">
      <%= link_to "+ Scene", new_scene_path %> | <%= link_to "+ Role", new_role_path %> | <%= link_to "+ Member", new_scene_path %>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
